In [1]:
import pandas as pd
from pandas.core.dtypes.common import is_numeric_dtype

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Nomalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()

In [ ]:
df[['Marketing Spend']] = m.fit_transform(df[['Marketing Spend']]) #transforming

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
x = df.drop('Profit', axis=1)
y = df[['Profit']]

In [ ]:
x1 = x.copy()
x2 = x.copy()
x3 = x.copy()
x4 = x.copy()
x5 = x.copy()
x6 = x.copy()

# MinMaxScalar using for loop

In [ ]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()

In [ ]:
for i in x1.columns:
    if is_numeric_dtype(x1[i]):
        x1[[i]] = m.fit_transform(x1[[i]])

In [ ]:
x1.head()

# Standard Scalar

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
df[['Transport']] = scaler.fit_transform(df[['Transport']])

In [ ]:
df.head()

# Standard Scalar using for loop

In [ ]:
for i in x2.columns:
    if is_numeric_dtype(x2[i]):
        x2[[i]] = scaler.fit_transform(x2[[i]])

In [ ]:
x2.head()

# MaxAbsScalar

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
transformer = MaxAbsScaler()

In [ ]:
df[['Administration']] = transformer.fit_transform(df[['Administration']])

In [ ]:
df.head()

# MaxAbsScalar using for loop

In [ ]:
for i in x3.columns:
    if is_numeric_dtype(x3[i]):
        x3[[i]] = transformer.fit_transform(x3[[i]])

In [ ]:
x3.head()

# RobustScalar

In [ ]:
from sklearn.preprocessing import RobustScaler
transformer = RobustScaler()

In [ ]:
df[['Profit']] = transformer.fit_transform(df[['Profit']])

In [ ]:
df.head()

# RobustScalar using for loop

In [ ]:
for i in x4.columns:
    if is_numeric_dtype(x4[i]):
        x4[[i]] = transformer.fit_transform(x4[[i]])

In [ ]:
x4.head()