In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('supershops.csv')

In [23]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Nomalization

In [4]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()

In [38]:
df[['Marketing Spend']] = m.fit_transform(df[['Marketing Spend']]) #transforming

In [39]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [8]:
x = df.drop('Profit', axis=1)
y = df[['Profit']]

In [9]:
x1 = x.copy()
x2 = x.copy()
x3 = x.copy()
x4 = x.copy()
x5 = x.copy()
x6 = x.copy()

# MinMaxScalar using for loop

In [40]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()
length = len(df.columns)
length

5

In [41]:
for i in range(length):
    if i == 3:
        continue
    a = df.columns[i]
    df[[a]] = m.fit_transform(df[[a]])

In [42]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

# Standard Scalar

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [11]:
df[['Transport']] = scaler.fit_transform(df[['Transport']])
df[['Profit']] = scaler.fit_transform(df[['Profit']])

In [12]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617       136897.80   2.165287    Dhaka  2.011203
1         0.983359       151377.59   1.929843      Ctg  1.999430
2         0.927985       101145.55   1.626191  Rangpur  1.980842
3         0.873136       118671.85   1.417348    Dhaka  1.776627
4         0.859438        91391.77   1.273550  Rangpur  1.357740

# MaxAbsScalar

In [13]:
from sklearn.preprocessing import MaxAbsScaler
transformer = MaxAbsScaler()

In [14]:
df[['Administration']] = transformer.fit_transform(df[['Administration']])
df[['Transport']] = transformer.fit_transform(df[['Transport']])

In [15]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  2.011203
1         0.983359        0.828805   0.891264      Ctg  1.999430
2         0.927985        0.553781   0.751028  Rangpur  1.980842
3         0.873136        0.649738   0.654577    Dhaka  1.776627
4         0.859438        0.500378   0.588166  Rangpur  1.357740

# RobustScalar

In [16]:
from sklearn.preprocessing import RobustScaler
transformer = RobustScaler()

In [17]:
df[['Transport']] = transformer.fit_transform(df[['Transport']])
df[['Profit']] = transformer.fit_transform(df[['Profit']])

In [18]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.552016    Dhaka  1.698340
1         0.983359        0.828805   1.383714      Ctg  1.688874
2         0.927985        0.553781   1.166654  Rangpur  1.673929
3         0.873136        0.649738   1.017368    Dhaka  1.509736
4         0.859438        0.500378   0.914576  Rangpur  1.172943